
<div class="row pt-5 pb-5 align-items-center">
    <div class="d-none d-lg-block col-md-4 p-5">
        <img class="img-fluid" src="../../../assets/logo-about.svg" alt="">
    </div>
    <div class="col-12 col-md-8 p-5">
        <h2 class="ts-1">¿Quienes somos?</h2>
        <h5 class="ts-1">Empresa proveedora de productos para rehabilitación.</h5>
        <p class="text-muted">Empresa dedicada a la venta de productos de rehabilitación dada a la falta que se ha experimentado y por la falta de calidad.</p>
    </div>
</div>
<div class="row mb-5 mt-5">
</div>